header{
    margin: 10px;
    padding: 20px;
    
    display: flex;
    justify-content: center;
    text-align: center;
}

.infoLogo img{
    width: 215px;
    
    border-radius: 50px;
}

h2{
    display: flex;
   flex-direction: column;
   margin-top: 10px;
   color:rgb(4, 4, 105);
   margin-left: 10px;
   justify-content: center;
   align-items: center;
  
   margin-bottom: 10px;

    
}
body{
  
    background-color: #c6cfd2;
    background-image: linear-gradient(0deg, #c6cfd2 0%, #2ad7f5 50%, #dbeaeb 100%), no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.galeria{
    width: 300px;
    
    display:flex ;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
    
    gap:10px;
    
    

}
.galeria img{
    display: flex;
    width: 200px;
    gap: 20px;
    
}
div.servicos{
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto 0;
    
    
}
div.servicos p {
    display: flex;
    font-weight: 200;
    font-size: 20px;
    color:black;
    margin-top: 10px;
    justify-content: center;
    justify-items: center;
}
p{
    
    font-weight: 200;
    
    margin: auto 0;
    margin-left: 10px;
    
    
    
   
}
.form{
    display:flex ;
    flex-direction: row;
    width: auto;
    
    justify-items: center;
    align-items: center;
   
    margin: 40px;
    border: 2px solid rgb(68, 0, 255);
    border-radius: 10px;
    padding: 30px;
     
    background-color: rgb(233, 233, 241);
    justify-content: center;  
    align-items: center;  
    
}
h2#tituloFormulario{
    margin-left: 20px;
}
label,input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 5px 30px;
}
input{
   margin: auto;
   margin-top: 10px;
   border-radius: 10px;
   padding: 5px 80px;
   width: 360px;

}

input:invalid,
select:invalid,
textarea:invalid{
    border: 1px solid red;
}
input:valid,
select:valid,
textarea:valid{
    background-color: white;
    border: 2px solid green;

}
  
select,textarea,button{
    
    display: flex;  
    margin: 0 auto;  
    text-align: center;
    padding: 5px 100px;
   
}
select{
    border-radius: 10px;
    padding: 5px 100px;
    width: 250px;
    
    width: 360px;

}
textarea{
    border-radius: 10px;
}
button{
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 400;
    background-color: #90ee90;
    border: 2px solid #3d8a31;
}
button:hover{
    background-color: #3d8a31;
    color: #ffffff;
    border-color: #90ee90;
}


footer{
    display: flex;
    justify-content: center;
    text-align: center;
    
 
    
}
@media (max-width: 460px) {
     div.servicos {
        width: 360px;
    
    }
    div.servicos p {
        width: 1200px;
        margin-left: 20px;
    }
    .galeria{
        display:flex;
    }
    .galeria img{
        width: 90px; 
    }
    .form{
        width: 380px;
    }
    .imgGaleria{
        width: 80px;
        display: flex;
        
    }
  }
    

    
    
